/**
 * Header
 */
.navbar-brand > img {
  display: inline-block;
  height: 40px;
  width: auto;
  margin-top: -9.5px;
  margin-right: 10px;
}

#gravatar {
  float: left;
  height: 40px;
  width: auto;
  margin-top: -9.5px;
  margin-right: 5px;
  border: 1px solid #1a252f;
}

/**
 * Talk listings table
 */
.talks-list > .list-group-item h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

/**
 * Spinning icons taken from: http://chadkuehn.com/animated-font-spinners/ 
 */
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}